<h1>Mutaciones</h1>
<hr>


<div class="row">
  <div class="col-6">
    <input
       #txtEmail
       type="text"
       class="form-control mb-2"
       (input)="onFieldUpdated('email', txtEmail.value)"
       placeholder="Email"
       [value]="user().email"
       >
    <input
       #txtFirstName
       type="text"
       class="form-control mb-2"
       (input)="onFieldUpdated('first_name', txtFirstName.value)"
       placeholder="Nombre"
       [value]="user().first_name"
       >
    <input
       #txtLastName
       type="text"
       class="form-control mb-2"
       (input)="onFieldUpdated('last_name', txtLastName.value)"
       placeholder="Apellido"
       [value]="user().last_name"
       >
  </div>
  <div class="col-6">
<!-- data del usuario -->
<pre>
  {{user() | json}}
</pre>
{{ fullName() }}

<button (click)="increaseBy(1)" class="btn btn-primary mx-2">+ 1</button>
  </div>
</div>
